<ion-header [translucent]="true">
  <ion-toolbar color="ark">
    <ion-title id="title2">
      Quem Somos?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card class="Centrado">
      <ion-card-header>
        <ion-card-title id="title2">Integrantes do Projeto</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/Leo img1.jpeg">
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h2>Leonardo Inacio</h2>
        </ion-text>
        <ion-badge color="success" slot="end">Estudante</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/Jhon.jpg">
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h2>Jhonatha Ornellas</h2>
        </ion-text>
        <ion-badge color="success" slot="end">Estudante</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/Felipe.jpg">
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h2>Felipe José</h2>
        </ion-text>
        <ion-badge color="success" slot="end">Estudante</ion-badge>
      </ion-label>
    </ion-item>

    <ion-card>
    

      <ion-card-content class="content">
        <table>
          <thead>
            <tr>
              <th>Atividade</th>
              <th>Data de Início</th>
              <th>Data de Fim</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Entrega Preliminar do Projeto</td>
              <td>07/10</td>
              <td>13/10</td>
            </tr>
            <tr>
              <td>Entrega Final do Projeto</td>
              <td>18/11</td>
              <td>24/11</td>
            </tr>
            <tr>
              <td>Apresentação do Projeto</td>
              <td>09/12</td>
              <td>13/12</td>
            </tr>
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
